body{
    background-color: #7494EC;
    padding: 100px;
    margin: 0px;
}

*{
    font-family: 'Ubuntu', sans-serif;
}

.file-containers{
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 435;
    margin: auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px;
}