.add_dtr_btn {
    border: none;
    padding: 10px;
    background-color: #7B7BDC;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;

}

.add_dtr_btn:hover {
    background-color: #0CDD40;
    color: white;
    box-shadow: 10px 10px 8px #888888;
}



tr:hover td {
    background-color: #ECECEC;
  }

  html{
    overflow: hidden;
  }
  
  #order-listing_next{
        margin-top: 20px;
        margin-right: -1px !important;
        margin-bottom: -15.5px !important;
        
    }
    
    #order-listing_wrapper{
      margin-top: 16px;
    }

   #order-listing_length{
    margin-top: 16px;
   }

    #order-listing_previous{
        margin-top: 20px;
        margin-left: 12px !important;
    }
    
    /* Search Bar */

    #order-listing_filter label input{
        margin-top: 15px;
        width: 278px;
        font-size: 17px;
        
    }

    /* Sorting Button Color */
    .dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
        
        right: 1.2em;
        bottom: 0;
        color: #c0c1c2 !important;
        opacity: 1;
    } 

    .dataTables_wrapper .dataTable thead .sorting:after, .dataTables_wrapper .dataTable thead .sorting_asc:after, .dataTables_wrapper .dataTable thead .sorting_desc:after, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
   
        right: 1.2em;
        top: 0;
        color: #c0c1c2 !important;
        opacity: 1;
    }
    
    .card-body{
      width: 98%;
      box-shadow: 10px 10px 10px 8px #888888;
    }  
  